<div class="row">
  <%= image_tag 'bangongyanfa/1.jpg', class: 'col-md-3' %>
  <%= image_tag 'bangongyanfa/2.jpg', class: 'col-md-3' %>
  <%= image_tag 'bangongyanfa/3.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'bangongyanfa/4.jpg', class: 'col-md-3' %>
  <%= image_tag 'bangongyanfa/5.jpg', class: 'col-md-3' %>
  <%= image_tag 'bangongyanfa/6.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'bangongyanfa/7.jpg', class: 'col-md-3' %>
  <%= image_tag 'bangongyanfa/8.jpg', class: 'col-md-3' %>
  <%= image_tag 'bangongyanfa/9.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'bangongyanfa/10.jpg', class: 'col-md-3' %>
  <%= image_tag 'bangongyanfa/11.jpg', class: 'col-md-3' %>
</div>
