<div class="row">
  <%= image_tag 'gongyejianzhu/1.jpg', class: 'col-md-3' %>
  <%= image_tag 'gongyejianzhu/2.jpg', class: 'col-md-3' %>
  <%= image_tag 'gongyejianzhu/3.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'gongyejianzhu/4.jpg', class: 'col-md-3' %>
  <%= image_tag 'gongyejianzhu/5.jpg', class: 'col-md-3' %>
  <%= image_tag 'gongyejianzhu/6.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'gongyejianzhu/7.jpg', class: 'col-md-3' %>
  <%= image_tag 'gongyejianzhu/8.jpg', class: 'col-md-3' %>
  <%= image_tag 'gongyejianzhu/9.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'gongyejianzhu/10.jpg', class: 'col-md-3' %>
  <%= image_tag 'gongyejianzhu/11.jpg', class: 'col-md-3' %>
</div>
