<div class="row">
  <%= image_tag 'jiaoyukeyan/1.jpg', class: 'col-md-3' %>
  <%= image_tag 'jiaoyukeyan/2.jpg', class: 'col-md-3' %>
  <%= image_tag 'jiaoyukeyan/3.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'jiaoyukeyan/4.jpg', class: 'col-md-3' %>
  <%= image_tag 'jiaoyukeyan/5.jpg', class: 'col-md-3' %>
  <%= image_tag 'jiaoyukeyan/6.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'jiaoyukeyan/7.jpg', class: 'col-md-3' %>
  <%= image_tag 'jiaoyukeyan/8.jpg', class: 'col-md-3' %>
  <%= image_tag 'jiaoyukeyan/9.jpg', class: 'col-md-3' %>
</div>
