<div class="row">
  <%= image_tag 'jingguansheji/1.jpg', class: 'col-md-3' %>
  <%= image_tag 'jingguansheji/2.jpg', class: 'col-md-3' %>
  <%= image_tag 'jingguansheji/3.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'jingguansheji/4.jpg', class: 'col-md-3' %>
  <%= image_tag 'jingguansheji/5.jpg', class: 'col-md-3' %>
  <%= image_tag 'jingguansheji/6.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'jingguansheji/7.jpg', class: 'col-md-3' %>
  <%= image_tag 'jingguansheji/8.jpg', class: 'col-md-3' %>
  <%= image_tag 'jingguansheji/9.jpg', class: 'col-md-3' %>
</div>
