<div class="row">
  <%= image_tag 'juzhudichan/1.jpg', class: 'col-md-3' %>
  <%= image_tag 'juzhudichan/2.jpg', class: 'col-md-3' %>
  <%= image_tag 'juzhudichan/3.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'juzhudichan/4.jpg', class: 'col-md-3' %>
  <%= image_tag 'juzhudichan/5.jpg', class: 'col-md-3' %>
  <%= image_tag 'juzhudichan/6.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'juzhudichan/7.jpg', class: 'col-md-3' %>
  <%= image_tag 'juzhudichan/8.jpg', class: 'col-md-3' %>
  <%= image_tag 'juzhudichan/9.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'juzhudichan/10.jpg', class: 'col-md-3' %>
  <%= image_tag 'juzhudichan/11.jpg', class: 'col-md-3' %>
  <%= image_tag 'juzhudichan/12.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'juzhudichan/13.jpg', class: 'col-md-3' %>
  <%= image_tag 'juzhudichan/14.jpg', class: 'col-md-3' %>
  <%= image_tag 'juzhudichan/15.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'juzhudichan/16.jpg', class: 'col-md-3' %>
  <%= image_tag 'juzhudichan/17.jpg', class: 'col-md-3' %>
</div>
