<div class="row">
  <%= image_tag 'shineisheji/1.jpg', class: 'col-md-3' %>
  <%= image_tag 'shineisheji/2.jpg', class: 'col-md-3' %>
  <%= image_tag 'shineisheji/3.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'shineisheji/4.jpg', class: 'col-md-3' %>
  <%= image_tag 'shineisheji/5.jpg', class: 'col-md-3' %>
  <%= image_tag 'shineisheji/6.jpg', class: 'col-md-3' %>
</div>
