<div id="slides">
  <%= link_to image_tag(IMG_SITE + image_path('slides/1.jpg').sub('/assets', '')), '/detail/juzhudichan/17' %>
  <%= link_to image_tag(IMG_SITE + image_path('slides/2.jpg').sub('/assets', '')), '/detail/juzhudichan/5' %>
  <%= link_to image_tag(IMG_SITE + image_path('slides/3.jpg').sub('/assets', '')), '/detail/zongheshangye/8' %>
  <%= link_to image_tag(IMG_SITE + image_path('slides/4.jpg').sub('/assets', '')), '/detail/zongheshangye/1' %>
  <%= link_to image_tag(IMG_SITE + image_path('slides/5.jpg').sub('/assets', '')), '/detail/zongheshangye/7' %>
  <%= link_to image_tag(IMG_SITE + image_path('slides/6.jpg').sub('/assets', '')), '/detail/zongheshangye/4' %>
  <%= link_to image_tag(IMG_SITE + image_path('slides/7.jpg').sub('/assets', '')), '/detail/juzhudichan/3' %>
  <%= link_to image_tag(IMG_SITE + image_path('slides/8.jpg').sub('/assets', '')), '/detail/bangongyanfa/1' %>
</div>

<script>
  $(function (){
    $('#slides').slidesjs({
      width: 600,
      height: 410,
      navigation: false,
      play: {
        auto: true,
      }
    });
  });
</script>
