<div id="slides">
  <%= link_to image_tag('slides/1.jpg'), '/detail/juzhudichan/17' %>
  <%= link_to image_tag('slides/2.jpg'), '/detail/juzhudichan/5' %>
  <%= link_to image_tag('slides/3.jpg'), '/detail/zongheshangye/8' %>
  <%= link_to image_tag('slides/4.jpg'), '/detail/zongheshangye/1' %>
  <%= link_to image_tag('slides/5.jpg'), '/detail/zongheshangye/7' %>
  <%= link_to image_tag('slides/6.jpg'), '/detail/zongheshangye/4' %>
  <%= link_to image_tag('slides/7.jpg'), '/detail/juzhudichan/3' %>
  <%= link_to image_tag('slides/8.jpg'), '/detail/bangongyanfa/1' %>
</div>

<script>
  $(function (){
    $('#slides').slidesjs({
      width: 600,
      height: 410,
      navigation: false,
      play: {
        auto: true,
      }
    });
  });
</script>
