<div id="slides">
  <%= image_tag 'slides/1.jpg' %>
  <%= image_tag 'slides/2.jpg' %>
  <%= image_tag 'slides/3.jpg' %>
  <%= image_tag 'slides/4.jpg' %>
  <%= image_tag 'slides/5.jpg' %>
  <%= image_tag 'slides/6.jpg' %>
  <%= image_tag 'slides/7.jpg' %>
  <%= image_tag 'slides/8.jpg' %>
</div>

<script>
  $(function (){
    $('#slides').slidesjs({
      width: 600,
      height: 410,
      navigation: false,
      play: {
        auto: true,
      }
    });
  });
</script>
