<div class="row">
  <%= image_tag 'zhanshihuisuo/1.jpg', class: 'col-md-3' %>
  <%= image_tag 'zhanshihuisuo/2.jpg', class: 'col-md-3' %>
  <%= image_tag 'zhanshihuisuo/3.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'zhanshihuisuo/4.jpg', class: 'col-md-3' %>
  <%= image_tag 'zhanshihuisuo/5.jpg', class: 'col-md-3' %>
</div>
