<div class="row">
  <%= image_tag 'zongheshangye/1.jpg', class: 'col-md-3' %>
  <%= image_tag 'zongheshangye/2.jpg', class: 'col-md-3' %>
  <%= image_tag 'zongheshangye/3.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'zongheshangye/4.jpg', class: 'col-md-3' %>
  <%= image_tag 'zongheshangye/5.jpg', class: 'col-md-3' %>
  <%= image_tag 'zongheshangye/6.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'zongheshangye/7.jpg', class: 'col-md-3' %>
  <%= image_tag 'zongheshangye/8.jpg', class: 'col-md-3' %>
  <%= image_tag 'zongheshangye/9.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'zongheshangye/10.jpg', class: 'col-md-3' %>
  <%= image_tag 'zongheshangye/11.jpg', class: 'col-md-3' %>
  <%= image_tag 'zongheshangye/12.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'zongheshangye/13.jpg', class: 'col-md-3' %>
  <%= image_tag 'zongheshangye/14.jpg', class: 'col-md-3' %>
  <%= image_tag 'zongheshangye/15.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'zongheshangye/16.jpg', class: 'col-md-3' %>
  <%= image_tag 'zongheshangye/17.jpg', class: 'col-md-3' %>
  <%= image_tag 'zongheshangye/18.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'zongheshangye/19.jpg', class: 'col-md-3' %>
  <%= image_tag 'zongheshangye/20.jpg', class: 'col-md-3' %>
  <%= image_tag 'zongheshangye/21.jpg', class: 'col-md-3' %>
</div>
<div class="row">
  <%= image_tag 'zongheshangye/22.jpg', class: 'col-md-3' %>
</div>
