<!DOCTYPE html>
<html>
<head>
  <title>梵石建筑</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style>
    body{font-family: "Microsoft YaHei",Verdana, Arial, Helvetica, sans-serif;}
    body,form,h1,h2,h3,h4,div,span,p,hr{margin:0px;padding:0px; }
    body ul,body li{list-style: none;padding:0px; margin:0px;font-family: "Microsoft YaHei",Verdana, Arial, Helvetica, sans-serif;}
    a:link,a:visited{color:#000;text-decoration:none;}
    .content{margin:0 auto;width:1000px;height:700px; overflow:hiddden; text-align:left; list-style: none;}
    .topLogo {margin: 30px 0px 18px 58px; }
    .menu_first{ cursor:pointer;padding:5px 0px; margin-bottom:10px; text-align:center;font-size:14px; width:180px; background:#ebebeb;}
    .menu_second{ margin:10px 0px;display:none;font-size:14px; }
    .menu_second li{cursor:pointer; padding:5px 0px; margin:3px 0px; text-align:center;width:180px; }
    .content_left {margin-left:77px;width:200px;}
    .content_right{margin-left: 20px;width:630px;word-wrap:break-word; font-size:12px; line-height:34px; font-size:14px;}
    .content_right .row {margin-bottom:30px;}
    .content_right hr{ margin:2px 0px 10px 0px; color:#aaa; font-weight:bold;border-top:1px solid #aaa;}
    .content_right img{ margin:10px 0px 10px 0px;} 
    .slidesjs-pagination{ text-align:right;  float:right}
    .slidesjs-pagination li{ float:left;}
    .slidesjs-pagination li a{ display:block;  line-height:45px; width:14px; height:14px;background:#ccc; margin:14px 0px 0px 14px;}
    .slidesjs-pagination li a.active{background:#000;}
    .title{ font-size:14px; font-weight:bold;}
    .title a{color:#000; cursor:default; text-decoration:none;}
    .summary{ margin:5px 0px;}
    .hover{background:#d4d4d4;}
  </style>
</head>
<body>
<div class="content">
  <div class="row topLogo">
    <%= link_to image_tag('logo.png'), '/' %>
  </div>

  <div class="row">
    <div class="col-md-2 content_left">
      <ul>
        <li class="menu_first">设计项目</li>
        <ul class="menu_second">
          <li><%= link_to '居住地产', '/shejixiangmu/juzhudichan' %></li>
          <li><%= link_to '综合商业', '/shejixiangmu/zongheshangye' %></li>
          <li><%= link_to '酒店度假', '/shejixiangmu/jiudiandujia' %></li>
          <li><%= link_to '办公研发', '/shejixiangmu/bangongyanfa' %></li>
          <li><%= link_to '展示会所', '/shejixiangmu/zhanshihuisuo' %></li>
          <li><%= link_to '教育科研', '/shejixiangmu/jiaoyukeyan' %></li>
          <li><%= link_to '工业建筑', '/shejixiangmu/gongyejianzhu' %></li>
          <li><%= link_to '室内设计', '/shejixiangmu/shineisheji' %></li>
          <li><%= link_to '景观设计', '/shejixiangmu/jingguansheji' %></li>
        </ul>

        <li class="menu_first">设计研究</li>
        <ul class="menu_second">
          <li><%= link_to '家具及产品', '/shejiyanjiu/jiajujichanpin#家具及产品' %></li>
          <li><%= link_to '研究论文', '/shejiyanjiu/yanjiulunwen#研究论文' %></li>
          <li><%= link_to '建筑画', '/shejiyanjiu/jianzhuhua#建筑画' %></li>
        </ul>

        <li class="menu_first">关于我们</li>
        <ul class="menu_second">
          <li><%= link_to '公司简介', '/guanyuwomen/gongsijianjie#公司简介' %></li>
          <li><%= link_to '设计团队', '/guanyuwomen/shejituandui#设计团队' %></li>
          <li><%= link_to '光合田园', '/guanyuwomen/guanghetianyuan#光合田园' %></li>
        </ul>

        <li class="menu_first"><%= link_to '联系我们', '/lianxiwomen/index' %></li>
      </ul>
    </div>
    <div class="col-md-10 content_right"><%= yield %></div>
  </div>
</div>
</body>
</html>
<script>
$(function(){
  $('.menu_first').click(function(){
      $(this).next().toggle(500);
  });
  $(".menu_second li").hover(function (){
    $(this).toggleClass('hover');
  });

  $('.title').click(function(){
      $(this).next().next().toggle(500);
  });

});
</script>
