<!DOCTYPE html>
<html>
<head>
  <title>梵石建筑</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= image_tag('logo.png') %>
</header>
<nav style="float:left;">
  <ul>
    <li>设计项目</li>
      <ul>
        <li>居住地产</li>
        <li>综合商业</li>
        <li>酒店度假</li>
        <li>办公研发</li>
        <li>展示会所</li>
        <li>教育科研</li>
        <li>工业建筑</li>
        <li>室内设计</li>
        <li>景观设计</li>
      </ul>

    <li>设计研究</li>
      <ul>
        <li>家具及产品</li>
        <li>研究论文</li>
        <li>建筑画</li>
      </ul>

    <li>关于我们</li>
      <ul>
        <li>公司简介</li>
        <li>设计团队</li>
        <li>光合田园</li>
      </ul>

    <li>联系我们</li>
  </ul>
</nav>
<div style="float:left;">
<%= yield %>
</div>

</body>
</html>
