<!DOCTYPE html>
<html>
<head>
  <title>梵石建筑</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="content">
  <div class="row topLogo">
    <%= link_to image_tag('logo.png'), '/' %>
  </div>

  <div class="row">
    <div class="col-md-2 content_left">
      <ul>
        <li class="menu_first">设计项目</li>
        <ul class="menu_second">
          <li><%= link_to '居住地产', '/shejixiangmu/juzhudichan' %></li>
          <li><%= link_to '综合商业', '/shejixiangmu/zongheshangye' %></li>
          <li><%= link_to '酒店度假', '/shejixiangmu/jiudiandujia' %></li>
          <li><%= link_to '办公研发', '/shejixiangmu/bangongyanfa' %></li>
          <li><%= link_to '展示会所', '/shejixiangmu/zhanshihuisuo' %></li>
          <li><%= link_to '教育科研', '/shejixiangmu/jiaoyukeyan' %></li>
          <li><%= link_to '工业建筑', '/shejixiangmu/gongyejianzhu' %></li>
          <li><%= link_to '室内设计', '/shejixiangmu/shineisheji' %></li>
          <li><%= link_to '景观设计', '/shejixiangmu/jingguansheji' %></li>
        </ul>

        <li class="menu_first">设计研究</li>
        <ul class="menu_second">
          <li><%= link_to '家具及产品', '/shejiyanjiu/jiajujichanpin#家具及产品' %></li>
          <li><%= link_to '研究论文', '/shejiyanjiu/yanjiulunwen#研究论文' %></li>
          <li><%= link_to '建筑画', '/shejiyanjiu/jianzhuhua#建筑画' %></li>
        </ul>

        <li class="menu_first">关于我们</li>
        <ul class="menu_second">
          <li><%= link_to '公司简介', '/guanyuwomen/gongsijianjie#公司简介' %></li>
          <li><%= link_to '设计团队', '/guanyuwomen/shejituandui#设计团队' %></li>
          <li><%= link_to '光合田园', '/guanyuwomen/guanghetianyuan#光合田园' %></li>
        </ul>

        <li class="menu_first"><%= link_to '联系我们', '/lianxiwomen/index' %></li>
      </ul>
    </div>
    <div class="col-md-10 content_right"><%= yield %></div>
  </div>
</div>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fdc51883357ceab36116a8cec585142a8' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
<script>
$(function(){
  $('.menu_first').click(function(){
      $(this).next().toggle(500);
  });
  $(".menu_second li").hover(function (){
    $(this).toggleClass('hover');
  });

  $('.title').click(function(){
      $(this).next().next().toggle(500);
  });

});
</script>
